extends layout

block content
  div(id="main")
    h1 Feed Me!
    p A web scrapper and feed generator for #[a(href="#{link}") #{title}].
    if success
      div(class="message")
        p Feed updated!
    form(name="config", action="/scrape", method="post")
      fieldset
        label(for="start-url") Start Page
        input(type="text", name="start-url", value="#{firstUrl}", class="full")
        label(for="page-count") Pages
        input(type="number", name="page-count", value="#{pageCount}")
        label(for="tally") Tally
        input(type="number", name="tally", value="#{tally}")
        label(for="ftp") FTP?
        input(type="checkbox", name="ftp", value="ftp")
      input(type="submit", value="scrape")
